.cart-empty {
  padding: 50px 0;
  background: #fff;
  border-radius: 15px;
  &__container {
    max-width: 820px;
    margin: 0 auto;
  }
  & > * {
    text-align: center;
  }
  h2 {
    font-size: 39px;
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 45px;
    color: rgb(43, 180, 180);
    font-size: 19px;
  }
  img {
    height: 200px;
    width: 200px;
  }
}
